.banner h3 {
  margin: 0;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 40px auto 40px auto;
}
.banner {
  color: white;
  background-color: $banner-color;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.banner-text {
  width:80%;
  padding: 5%;
}
.banner-text a {
  text-decoration: none;
}
