.services {
  background-color:$services-color;
  color:#fff;
  padding-top:5%;
  padding-bottom:5%;

}

.icons-services {
  margin-top:5%;

  h4 {
    text-transform: uppercase;
    font-weight: bolder;
  }
  img {
    margin-bottom: 10%;
    height: 150px;
  }

}
.service-heading{
  margin-bottom:5%;
}
